body {
  background-color: #131313;
  margin: 0;
}

.wrapper {
  background-color: #131313;
  font-family: Montserrat;
  color: white;
}
.header {
  border-bottom: 1px solid #272727;
  height: 60px;
  line-height: 30px;
  margin: 0 0 90px 0;
}
.container {
  max-width: 1146px;
  margin: 0 auto;
  background: url("../img/Стена.png");
}
.header__logo {
  display: inline-block;
  color: #1ACD4C;
  text-decoration: none;
  margin: 0 12px 0 0;
  padding: 0 20px 0 0;
  border-right: 2px solid #272727;
  font-family: Caveat;
  font-size: 30px;
}
.heander__card-namber {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin: 0 40px 0 0;
}



/* ----------------------------- */
.header__menu {
  display: inline-block;
}
.menu {}
.menu__list, .menu__link, .menu__item {
  display: inline-block;
}

.menu__link a {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 0 25px 0 0;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.menu__line-through a {
  text-decoration: line-through;
  color: #272727;
}




/* ------------------------------- */
.content {
  margin: 0 0 30px 0;
}
.content__title {
  font-size: 30px;
  font-weight: 900;
  margin: 0 0 31px 0;
}
.content__table {
  width: 100%;
  border-collapse: collapse
}

.tbody tr {
  height: 52px;

}

th {
  text-align: left;
  padding: 0 30px;
  color: #727272;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 30px;
}
td {
  width: 214px;
  padding: 0 30px;
  border: 1px solid #272727;
  font-size: 16px;
  font-weight: 400;
}
/* ------------------------------- */
.footer {
  text-align: center;
  height: 44px;
}
.footer__list {}
.footer__item {
}
.footer__link {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 0 20px;
}


.footer__one {
  color: rgba(79, 79, 79, 1);
}
.image__one {
  padding: 0 35px 0 0;
}
.image__two {
  
  padding: 0 0 0 35px;
}