
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wrapper {
  min-height: 100%;
  background-color: #201636;
  overflow: hidden;
  color: #FFFFFF;
  font-family: 'Montserrat';
} 

.container {
  max-width: 1650px;
  margin: 0 auto;
}
.header {
  position: relative;
}
.header__img span {
  background: url("../img/Rectangle.png")no-repeat;
  position: absolute;
  height: 1000px;
  width: 500px;
  display: block;
  top: 20px;
  left: -10px;
}
.header__img {
  display: inline-block;
}
.header__img img {
  flex: 1 1 auto;
}
.header__item {
  position: absolute;
  top: 200px;
  left: 980px;
  max-width: 678px;
  flex: 0 1 auto;
}
.header__title {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  font-weight: 700;
  padding: 0 0 100px 0;
}
.header__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0 0 57px 0;
}
.header__text {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #211637;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 25px;
  text-align: center;
  padding: 0 20px;
  border-radius: 30px;
  margin: 0 0 50px 0;
  flex: 1 1 auto;
}

.header__info {
  max-width: 690px;
  text-transform: uppercase;
}

.info__1 {
  display:inline;
  text-align: center;
}
.info__2 {
  margin: 30px 10px 0 0;
  display:inline-block;
  font-weight: 700;
  font-size: 18;
  line-height: 22px;
  color: #FFFFFF;
  
}
.info__3 {
  display:inline-block;
  margin: 30px 10px 0 0;
}
.info__4 {
  display:inline-block;
  background-color: #F09F0C;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 0 20px;
}

.info__4 a {
  color: #000;
}
/* --------------------- */
.columns {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 160px 0;
}
.column {
  width: 320px;
  display: inline-block;
  color: #FFFFFF;
}
.columns__image {
  margin: 0 0 15px 0;
}
.columns__title {
  font-size: 16px;
  line-height: 25px;
  font-weight: 900;
  margin: 0 0 5px 0;
}
.columns__text {
  font-weight: 100;
  line-height: 20px;
  font-size: 16px;
  flex: 1 1 auto;
}
/* ----------- */
.footer {

}
.footer__title {
  margin: 0 0 20px 0;
}
.footer__title p {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
}
.footer__title p:nth-child(1) {
  color: #F09F0C;
}

.footer__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.footer__image {
  display: inline-block;
  position: relative;
}
.footer__image-one {
}
.footer__image-two {
  position: absolute;
  top: 150px;
  left: 250px;
}
.footer__list {
  position: relative;
  top: -350px;
  left: 900px;
  width: 600px;
}

.footer__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  margin: 0 0 45px 0;
}

.footer__item {
  background: url("../img/Arrow.png")left -1px /40px 30px no-repeat;
  padding: 0 0 0 60px;
}
