
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  font-family: "Oswald";
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1110px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 5px;
}
/* -------------------------------- */

.header {
  position: relative;
  margin: 0 0 250px 0;
}
.header__body {
  text-transform: uppercase;
  text-align: center;
  max-width: 734px;
  margin: 0 auto;
  color: white;
  padding: 192px 0 320px 0;
}

/* -----------burger-menu----------------------------- */
.header__burger {
  display: inline-block;
  float: right;
  margin: 30px 0 0 0;
  padding: 15px;
  background-color: #F7654A;
}

.header__burger div {
  width: 30px;
  height: 5px;
  background-color: white;
}
.header__burger div:not(:last-child) {
  margin:0 0 5px 0;
}


.header__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 95px;
  margin: 0 0 30px 0;
}

.header__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
} 

.header__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
/* --------------------Main------------------------ */
.main {
  min-height: 100%;
  flex: 1 1 auto;
}

.main__container {}

.main__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  color: #404149;
  margin: 0 0 60px 0;
}

.main__colomns {
  display: flex;
  justify-content: space-between;
  padding: 0 -15px;
  margin: 0 0 150px 0;
}
.main__colomn {
  margin: 0 15px;
  flex: 0 1 33.3333333%;
}

.main__item {
}
.item {}
.item__image {
  margin: 0 0 45px 0;
}
.item__rectangle {
  background-color: #F7654A;
  width: 55px;
  height: 6px;
  margin: 0 0 15px 0;
}
.item__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #404149;
  margin: 0 0 20px 0;
}
.item__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #999999;
}
/* --------------------Footer------------------------ */

.footer {
  height: 181px;
  max-width: 100%;
  background-color: #F7654A;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__body {
  color: white;
  font-weight: 700;
  padding: 45px 0;
}
.footer__title {
  font-size: 48px;
  line-height: 71px;
}
.footer__text {
  font-size: 24px;
  line-height: 36px;
}
.footer__botom {
  padding: 14px 30px;
  background-color: #FFFFFF;
  
}
.footer__link {
  background: url("../img/.svg") 1px 3px no-repeat;
  padding: 0 0 0 35px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}